
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>


<a onclick="function(){var output = document.getElementById('changestar1');
   output.class='checked';}" id="rate">
        <span id="changestar1" class="fa fa-star"></span>
    </a>
    <a id="changestar2" class="fa fa-star">
    </a>
    <a href="" id="rate">
        <span id="changestar3" class="fa fa-star"></span>
    </a>
    <a href="" id="rate">
        <span id="changestar4" class="fa fa-star"></span>
    </a>
    <a href="" id="rate">
        <span id="changestar5" class="fa fa-star"></span>
    </a>


<script>
    $(document).ready(function () {
        var output = document.getElementById("changestar2");
        output.class = "checked";
    });
    $('#changestar2').click(function () {
            var output = document.getElementById("changestar2");
        output.class = "checked";
        })

</script>