<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You're Not Allowed To Access This Page</h2>
        <p>Back To Home Page:- </p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>