<!-- fjjfjf
(User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    Model.UserId = User.Identity.
}

<form asp-controller="Movies" asp-action="AddReview" asp-route-id="ViewBag.MovId">
    <div class="form-group">
        <label asp-for="Rate" class="control-label"></label>
        <input asp-for="Rate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Review" class="control-label"></label>
        <input asp-for="Review" class="form-control" />
    </div>
    <button type="submit" value="Vote" class="btn btn-outline-success float-right">Vote</button>
</form>

-->
