@*@model List<RatingByUser>*@

@*<a asp-controller="Movies" asp-action="AddReview">Add Review</a>*@



@*<div class="row">

    @foreach (var item in Model)
    {
        ViewBag.MovId = item.MovieId;
        
        <p class="card-text"><b>User Email: </b>@item.Email</p>
        <p class="card-text"><b>Vote: </b>@item.Rate</p>
        <p class="card-text"><b>Review: </b>@item.Review</p>
    }
</div>*@